@charset "UTF-8";

.container {
	width: 90%;
	margin-left: auto;
	margin-right: auto;
}

header {
	border: 1px solid black;
}

header h1 {
	display: inline;
}

header ul {
	display: inline;
	float: right;
}

header li {
	display: inline;
	border: 1px solid black;
}

section {
	clear: both;
	border: 1px solid black;
}

footer {
	border: 1px solid black;
}