<!DOCTYPE html>
<html th:fragment="layout(content)" xmlns:th="http://thymeleaf.org">
<!-- 
th:fragment는 layout을 사용하기 위한 함수 호출
xmlns:th는 th 명령어 thymeleaf를 사용하기 위한 선언
th문법을 사용하면 해당 태그는 태그로 인식되지 않고 실행된다.

만약 layout에 아래 content부분에 넣을 부분이 2가지 이상이면 인자를 늘리면 된다.
-->
<head>
<meta charset="UTF-8">
<title>WORDATA_DEMO</title>
<!-- 
모든 링크의 사용은 href앞에 th:를 붙여서 사용하며 표현은 @{경로}로 사용한다.
일종의 장고에서 링크에 static 걸어주던것과 동일
 -->
<link th:href="@{/css/layout.css}" rel="stylesheet" type="text/css" />
<link
	th:href="@{http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css}"
	rel="stylesheet" media="screen">
<script
	th:src="@{http://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js}"></script>
<script
	th:src="@{https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js}"></script>
</head>
<body>
<!-- 
url mapping도 동일하게 th와 @{}를 사용한다
 -->
	<header class="container">
		<a th:href="@{/}"><h1>wordata</h1></a>
		<ul>
			<li><a th:href="@{/Data/file-up}">파일 업로드</a></li>
			<li><a th:href="@{/Data/result}">분석 결과</a></li>
			<li><a th:href="@{/account}">회원 가입</a></li>
			<li><a th:href="@{/login}">로그인</a></li>
			<li><a th:href="@{/info}">info</a>
		</ul>
	</header>
	<section th:replace="${content}"></section>
	<!-- 해당 부분은 layout에 content로 전달된 태그로 변환된다. -->
	<footer class="container">
		<h1>footer</h1>
	</footer>

</body>
</html>